* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #400cf2;
  color: white;
}

/* Fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: JetBrains Mono;
  font-size: 30px;
}
h1 {
  font-size: 100px;
  font-family: "Bebas Neue", serif;
  color: white;
  
}

h3 {
  font-size: 30px;
  font-family: "Bebas Neue", serif;
  font-weight: 300;
  color: #f20ce7;
  padding: 50px;
}
