* {
  box-sizing: border-box;
}

body {
  background-color: #400cf2;
  color: white;
}

/* Fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: JetBrains Mono;
  font-size: 30px;
}
h1 {
  font-size: 100px;
  color: #400cf2;
}
