---
 import Mainlayout from "../layouts/Mainlayout.astro";
import Banner from '../components/Banner.astro';
import "../styles/index.css"
---
<Mainlayout></Mainlayout>
<html>
  <head>
  </head>
  <body>
    <Banner />
    <!-- Resten af siden her -->
  </body>
</html>



