---
import "../layouts/Mainlayout.astro";
import Banner from '../components/Banner.astro';
---

<html>
  <head>
  </head>
  <body>
    <Banner />
    <!-- Resten af siden her -->
  </body>
</html>



