---
 import Mainlayout from "../layouts/Mainlayout.astro";
import Banner from '../components/Banner.astro';
import "../styles/index.css"

---
<Mainlayout>

<div class="herosection"></div>
<div class="herosection_illustration"></div>

</Mainlayout>