---
import "../styles/Mainlayout.astro";
import Lineup_card  from "../components/Lineup_card.astro";
import Header from"../components/Header.astro";
const artists = await fetch("https://jtwmkrhqbfrekirjyiit.supabase.co/rest/v1/artist", {
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0d21rcmhxYmZyZWtpcmp5aWl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MTAzODIsImV4cCI6MjA0NTA4NjM4Mn0.0irOGWBIRkCr3qC0vtq0Q9BGVn4vnA7lg8DQKJoed2k"
    }
}).then(res=>res.json())
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lineup</title>
	</head>
	<body>
       <Header /> 
		<h1>Lineup</h1>
<main>

    {
        artists.map((artist)=>(
            <Lineup_card artist={artist} />

        ))
    }
    
</main>


</body>
</html>

<style></style>