---
import "../styles/general.css";
import Lineup_card  from "../components/Lineup_card.astro";
import Header from"../components/Header.astro";
 
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lineup</title>
	</head>
	<body>
       <Header /> 
		<h1>Lineup</h1>
<main>
    <Lineup_card title="hej" body="body" />
    <Lineup_card />
    <Lineup_card />
    <Lineup_card />
    <Lineup_card />
    <Lineup_card />
    <Lineup_card />
    
</main>


</body>
</html>
