<style>
    .banner {
      background-color: #330CAB; 
      color: #FE0083; 
      font-size: 64px; 
      font-family: "JetBrains Mono", monospace;
      text-align: center; 
      padding: 20px; 
      position: fixed; 
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000; 
    }
  
    .banner p {
      margin: 0; 
    }
  </style>
  
  <div class="banner">
    <p>buy your tickets! buy your tickets! buy your tickets!</p>
  </div>
  