---
const { variant } = Astro.props;
---

<a class={variant}>
  <slot />
</a>

<style>
a{
  padding: 14px 60px;
  align-items: center;
    border-radius: 30px;
    font-family: "Bebas Neue";
    font-size: 32px;
    align-items: center;
    gap: 50px;

}


.primary {
    background: #150079;
    color: white;
  }
  .primary :hover
  {
    background: #FE0083;
    color: white;
  }
  .secondary {
    background: #150079;
    color: white;
  }

  .tertiary {
    background: #150079;
    color: white;
  }

</style>