<section class="countdown">
    <div class="countdown_img"></div>
</section>


<style>
  .countdown_img {
    background-image: url("/public/img/countdown_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    height: 300px;
    margin-top: 40px;
    margin-left: 200px;
  }

</style>