

<footer>
<img src="public/img/karrusel.logo 1.png" alt="logo">
<div>
<div></div>
<div></div>
<div></div>
</div>

<p></p>
</footer>


<style>


footer {
  background-color: #210C46;
  color: white;
            text-align: center;
            padding: 10px 0;
            position: relative;
            width: 100%;
}



</style>