

<div class="banner">
    <div class="lineup-text">
      <h1>2025 LINEUP</h1>
      <h1>2025 LINEUP</h1>
    </div>
    <a href="/../../lineup" class="cta-button">
      <span>click here</span>
      <div class="arrow"></div>
    </a>
  </div>

  <style>
    .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #330CAB; /* Samme lilla som baggrunden */
  padding: 20px;
  margin-top: 280px;
}


.lineup-text h1 {
  font-size: 140px; /* Justér størrelsen efter behov */
  font-family: "Bebas Neue";
  margin: 0;
  color: #fff;
  padding-left: 100px;
}

.cta-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #FE0083; 
  padding: 10px 20px;
  position: relative;
  font-family: "JetBrains Mono";
  font-size: 40px;
  margin-right: 200px;
}



.cta-button .arrow {
  width: 0;
  height: 0;
  border-top: 75px solid transparent; 
  border-bottom: 75px solid transparent; 
  border-left: 90px solid #FE0083; 
  position: absolute;
  right: -75px; 
  padding-right: 0px;
}

  </style>