---
const { artist } = Astro.props
---

<a href={"/lineup/" + artist.slug}>
    <div class="lineup_card">
        <img src={`/img/${artist.img}`} alt={artist.name} />
        <h3>{artist.name}</h3>
    </div>
</a>

<style>
.lineup_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineup_card img {
    width: 100%;
    height: auto;
    max-width: 350px; /* Larger images */
    object-fit: cover;
    padding-top: 150px;
}

.lineup_card h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #F00C8F; /* Pink color for the artist name */
    font-size: 80px; /* Larger font size */
    font-family: "Bebas Neue", serif; /* Ensures font matches your theme */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Optional subtle shadow for readability */
    text-align: center;
}
</style>
